<!doctype html>
<head>
  <title>PyMDB</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='sorttable.js') }}"></script>
</head>
<body>
{% if user %}
  <h1>Hello User {{ user }}!</h1>
  <h2>Users</h2>
  <table class="sortable">
    <tr>
      <td><h4>User ID</h4></td>
      <td><h4>Age</h4></td>
      <td><h4>Gender</h4></td>
      <td><h4>Job</h4></td>
      <td><h4>Zipcode</h4></td>
    </tr>
    {% for user in users %}
      <tr>
        <td><a href="{{ url_for('show_user_profile', user=user) }}">{{ user }}</a></td>
        <td>{{ db.users[user].age }}</td>
        <td>{{ db.users[user].gender }}</td>
        <td>{{ db.users[user].job }}</td>
        <td>{{ db.users[user].zipcode }}</td>
      </tr>
    {% endfor %}
    </table>
{% else %}
  <h1>User database not found</h1>
{% endif %}
