<!doctype html>
<head>
  <title>Movie Profile</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='sorttable.js') }}"></script>
</head>
<body>
{% if movie %}
  <h3>Movie Profile</h3>
  <table class="sortable">
    <tr>
      <td><h4>Title</h4></td>
      <td><h4>IMDb Link</h4></td>
      <td><h4>Release Date</h4></td>
      <td><h4>Video Release Date</h4></td>
    </tr>
    <tr>
      <td><a href="{{ url_for('show_movie', movie=movie[0]) }}">{{ db.movies[movie].movie_title }} </a></td>
      <td><a href="{{ db.movies[movie].IMDb_URL}}">IMDb Link (external)</a></td>
      <td>{{ db.movies[movie].release_date }}</td>
      <td>{{ db.movies[movie].video_release_date }}</td>
    </tr>
  </table>


{% else %}
  <h1>Movie not found</h1>
{% endif %}
</body>
