<!doctype html>
<head>
  <title>User Profile</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='sorttable.js') }}"></script>
</head>
<body>
{% if user %}
  <h1>Hello User {{ user }}!</h1>
  <h3>User Profile</h3>
  <table class="sortable">
    <tr>
      <td><h4>User ID</h4></td>
      <td><h4>Age</h4></td>
      <td><h4>Gender</h4></td>
      <td><h4>Job</h4></td>
      <td><h4>Zipcode</h4></td>
    </tr>
    <tr>
      <td>{{ db.users[user].user_id }}</td>
      <td>{{ db.users[user].age }}</td>
      <td>{{ db.users[user].gender }}</td>
      <td>{{ db.users[user].job }}</td>
      <td>{{ db.users[user].zipcode }}</td>
    </tr>
  </table>

  <h3>Most Similar Users:</h3>
  <table class="sortable">
    <tr>
      <td><h4>User</h4></td>
      <td><h4>Similarity Score</h4></td>
      <td><h4>Age</h4></td>
      <td><h4>Gender</h4></td>
      <td><h4>Job</h4></td>
      <td><h4>Zipcode</h4></td>

      {% for user in sim %}
      <tr>
        <td><a href="{{ url_for('show_user_profile', user=user[0]) }}">{{ user[0] }}</a></td>
        <td>{{ user[1] }}</td>
        <td>{{ db.users[user[0]].age }}</td>
        <td>{{ db.users[user[0]].gender }}</td>
        <td>{{ db.users[user[0]].job }}</td>
        <td>{{ db.users[user[0]].zipcode }}</td>

      </tr>
    {% endfor %}
    </tr>
  </table>

  <h3>Recommended Movies: </h3>
  <table class="sortable">
    <tr>
      <td><h4>Title</h4></td>
      <td><h4>Suggestion Score</h4></td>

    {% for movie in recs %}
      <tr>
        <td>{{ movie[0] }}</td>
        <td>{{ movie[1] }}</td>
      </tr>
    {% endfor %}
    </tr>
  </table>


  <h3>Favorite Movies: </h3>
  <table class="sortable">
    <tr>
      <td><h4>Title</h4></td>
      <td><h4>Rating</h4></td>

    {% for movie in favs %}
      <tr>
        <td>{{ movie[0] }}</td>
        <td>{{ movie[1] }}</td>
      </tr>
    {% endfor %}
    </tr>
  </table>


{#
  <h3>All Users:</h3>
  {% for user in users %}
    <a href="{{ url_for('show_user_profile', user=user) }}">{{ user }}</a>
  {% endfor %}
#}

{% else %}
  <h1>User not found</h1>
{% endif %}
</body>
